*,
*::after,
*::before,
body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    // overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    width: 100%;
}

.swiper-slide:nth-child(2n) {
    width: 60%;
}

.swiper-slide:nth-child(3n) {
    width: 40%;
}

span.btn-back {
    position: absolute;
    z-index: 345;
    background: #b3b3b3a6;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    bottom: 12%;
    right: 10%;
    transition: all .3s ease;
    i {
        transition: all .3s ease;
    }
    &:hover {
        i {
            margin-right: 5px;
        }
    }
}

.main-background {
    width: 100%;
    height: 100%;
    background-image: url("../img/pexels-jonathan-meyer-612999.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    div {
        width: 25%;
        height: 100%;
        border: 1px solid #4a4a4a;
        background: #efefef1c;
        transition: all .3s ease;
        cursor: pointer;
        &:hover {
            background: #d5d5d552;
        }
    }
}