*,
*::after,
*::before,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.main-background {
    width: 100%;
    height: 100%;
    background-image: url("../img/pexels-jonathan-meyer-612999.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    div {
        width: 25%;
        height: 100%;
        border: 1px solid #4a4a4a;
        background: #efefef1c;
        transition: all .3s ease;
        cursor: pointer;
        &:hover {
            background: #d5d5d552;
        }
    }
}